body {
    background-color: black;
    font-family: sans-serif;
    width: 100%;
    color: rgb(236, 193, 20);
}
h1, h2, h3, h4 {
    text-align: center;
    background-color: yellow;
    color: rgb(233, 128, 128);
    border-radius: 7px;
}
#barrisenn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.hyperlink {
    text-decoration: none;
    color: white;

}
p {
    text-indent: 1em;
}
.descricao {
    text-align: center;
}